.faq-container {
    background: url('../assets/lloyds-faq.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed; /* Ensure the background stays fixed */
    position: fixed; /* Make the container fixed */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevent overflow */
  }
  
  .scrollable-content {
    overflow-y: auto; /* Make the content scrollable */
    width: 100%;
    height: 100%;
    padding: 80px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .hero-section {
    text-align: center;
    padding: 20px 20px;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  }
  
  .search-container {
    margin: 10px 0; /* Reduced margin for less gap */
  }
  
  .faq-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; /* Ensure it takes full width */
  }
  
  .faq-collapse {
    background: rgba(0, 0, 0, 0.5); /* Darker background */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); /* Darker shadow */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    max-width: 1000px; /* Increased width */
    margin: 20px;
    border-radius: 10px;
    color: white;
  }
  
  .faq-panel {
    .ant-collapse-header {
      color: white !important; /* Ensure the header text is white */
      font-size: 1.2rem;
      font-weight: bold; /* Make the header text bolder */
    }
  
    .ant-collapse-content {
       background: rgba(0, 0, 0, 0.85); /* Even darker background for content */
      color: white; /* Ensure the content text is white */
      border-radius: 0 0 10px 10px; /* Ensure the bottom corners are rounded */
    }
  
    .ant-collapse-content-box {
      padding: 20px;
    }
  }